extends layout

block content
    h1= title
    p Welcome to #{title}
    div.container-fluid
        div.row
            form.form-inline(name="formUser", action="/users", method="POST", role="form")
                div.form-group
                    label.sr-only(for="firstname") FIRSTNAME
                    input.form-control(type="text", name="firstname", placeholder="FIRSTNAME")
                div.form-group
                    label.sr-only(for="lastname") LASTNAME
                    input(type="text", name="lastname", placeholder="LASTNAME", class="form-control")
                button.btn.btn-default(type="submit") SAVE

        div#errorSumamry.row
            p Error 1
            p Error 2