extends layout

block content
  <!--h1= name-->
  <!--p Welcome to #{name}-->
  h1 User Detail
  div
    label Id: #{id}  
    br
    label FirstName: #{firstname}  
    br
    label LastName: #{lastname}  